.App {
  
  display: flex;
}
.FoodList{
  height:900px; 
  width:800px;
  border:1px solid black;
}

.SelectedItem{
  height:700px;
  width:500px;
  border:1px solid black;
}

.list h2 {
  margin-right: 300px;
  display: inline-block;
}

.food-props h3 {
  margin-right: 300px;
  display: inline-block;
  text-align: center;
}

.FoodList h1 {
  text-align: center;
}

.SelectedItem h1 {
  text-align: center;
}